VITE_API_URL=http://backend:8000/api

BASE_URL=http://frontend:8080
# http://frontend:8080 if running Playwright to test production build
# http://localhost:5173 if running Playwright to test development build