fastapi[standard]>=0.135.0

# Database
sqlmodel
psycopg[binary]
asyncpg

# Security
pyjwt
pwdlib[argon2]
python-dotenv

# Testing
pytest
pytest_asyncio
debugpy

# AI and RAG
google-genai
google-api-core
ollama
pypdf
pgvector
langchain-text-splitters