# ----- CORE ----- #

# === Developer mode === #
DEV_MODE = true

# === Backend URL === #
BACKEND_URL = http://localhost:8000

# === Database === #
POSTGRES_URL = # Database

# === Auth === #
PRIVATE_KEY = # Private key

# === API === #

# Gemini
API_KEYS_GEMINI = # Google AI Studio (Supports multiple keys, each key is separated by a comma)

# Cloudflare
CLOUDFLARE_ACCOUNT_ID = # Cloudflare
CLOUDFLARE_API_TOKEN = # Cloudflare

# ----- TECHNICAL CONFIGURATIONS ----- #

# === Auth === #
JWT_ALGORITHM = HS256
TOKEN_EXPIRY_HOURS = 72

# === Models === #
MODEL_IN_USE_EMBED = OLLAMA 
MODEL_IN_USE_CAPTION_IMAGE = OLLAMA
MODEL_IN_USE_GENERATE_CHAT = OLLAMA
MODEL_IN_USE_REWRITE_PROMPT = OLLAMA
MODEL_IN_USE_GENERATE_MATERIAL = OLLAMA
MODEL_IN_USE_GRADE_ANSWERS = OLLAMA
# Available options:
# GOOGLE
# OLLAMA
# CLOUDFLARE

# ** Google ** #
EMBED_MODEL_GOOGLE = gemini-embedding-2
VISION_MODEL_GOOGLE = gemini-3.1-flash-lite
ANSWER_MODEL_GOOGLE = gemini-3.1-flash-lite

# ** Ollama ** #
OLLAMA_HOST = http://ollama:11434
EMBED_MODEL_OLLAMA = nomic-embed-text
VISION_MODEL_OLLAMA = llama3.2-vision
ANSWER_MODEL_OLLAMA = llama3.1

# ** Cloudflare ** #
EMBED_MODEL_CLOUDFLARE = @cf/baai/bge-m3
VISION_MODEL_CLOUDFLARE = @cf/meta/llama-3.2-11b-vision-instruct

# ** Github Model ** # 
# ANSWER_MODEL_GITHUB = gpt-4o-mini

# === RAG === #
DEFAULT_CHUNK_SIZE = 500
DEFAULT_CHUNK_OVERLAP = 50
DEFAULT_EMBED_DIMENSIONALITY_GOOGLE_OLLAMA = 768
DEFAULT_EMBED_DIMENSIONALITY_CLOUDFLARE = 1024
N_CHUNKS_RETRIEVED = 5
N_PAST_CONVERSATIONS = 3
N_CHUNKS_WINDOW = 1
N_API_CALL_RETRIES = 3

# === Application Related === #

# ** Study Activity ** #
DEFAULT_EXERCISE_TOTAL_SCORE = 100
N_GENERATION_RETRIES = 3