# ----- CORE ----- #

# === Developer mode === #
DEV_MODE = true
RUN_INTEGRATION = false

# === Database === #
POSTGRES_URL = postgresql+asyncpg://postgres:main-password@db:5432/study_assistant
POSTGRES_URL_TEST = postgresql+asyncpg://postgres:test-password@db-test:5432/test_study_assistant

# === Auth === #
PRIVATE_KEY = # Private key

# === API === #

# Gemini
API_KEYS_GEMINI = # Google AI Studio (Supports multiple keys, each key is separated by a comma)

# Cloudflare
CLOUDFLARE_ACCOUNT_ID = # Cloudflare
CLOUDFLARE_API_TOKEN = # Cloudflare

# ----- TECHNICAL CONFIGURATIONS ----- #

# === Auth === #
JWT_ALGORITHM = HS256
TOKEN_EXPIRY_HOURS = 72

# === Models === #
MODEL_IN_USE_EMBED = CLOUDFLARE 
MODEL_IN_USE_CAPTION_IMAGE = CLOUDFLARE
MODEL_IN_USE_GENERATE_CHAT = GOOGLE
MODEL_IN_USE_REWRITE_PROMPT = GOOGLE
MODEL_IN_USE_GENERATE_MATERIAL = GOOGLE
MODEL_IN_USE_GRADE_ANSWERS = GOOGLE
MODEL_IN_USE_GENERATE_DOCUMENT_ANALYSIS = GOOGLE
MODEL_IN_USE_GENERATE_STUDY_ASSESSMENT = GOOGLE
# Available options:
# GOOGLE
# CLOUDFLARE

# ** Google ** #
EMBED_MODEL_GOOGLE = gemini-embedding-2
VISION_MODEL_GOOGLE = gemini-3.1-flash-lite
ANSWER_MODEL_GOOGLE = gemini-3.1-flash-lite

# ** Cloudflare ** #
EMBED_MODEL_CLOUDFLARE = @cf/baai/bge-m3
VISION_MODEL_CLOUDFLARE = @cf/meta/llama-3.2-11b-vision-instruct

# === RAG === #
DEFAULT_CHUNK_SIZE = 500
DEFAULT_CHUNK_OVERLAP = 50
DEFAULT_EMBED_DIMENSIONALITY_GOOGLE_OLLAMA = 768
DEFAULT_EMBED_DIMENSIONALITY_CLOUDFLARE = 1024
DEFAULT_N_CHUNKS_RETRIEVED = 5
DEFAULT_N_PAST_CONVERSATIONS = 3
DEFAULT_N_CHUNKS_WINDOW = 1
DEFAULT_N_API_CALL_RETRIES = 3

# === Application Related === #

# ** Study Activity ** #
DEFAULT_EXERCISE_TOTAL_SCORE = 100
DEFAULT_N_GENERATION_RETRIES = 3

# ** Study Assessment ** #
DEFAULT_N_DOCUMENTS_FETCHED = 50
DEFAULT_N_LLM_RESPONSES_FETCHED = 50
DEFAULT_N_STUDY_ACTIVITIES_FETCHED = 30
DEFAULT_PENDING_STUDY_ASSESSMENT_EXPIRY_SECONDS = 180