# ----- CORE ----- #

# === Developer mode === #
DEV_MODE = true

# === Database === #
POSTGRES_URL = postgresql+asyncpg://postgres:Q6L0N2H0LQS5016SQL5888@localhost:5432/group_project_sample
POSTGRES_URL_TEST = postgresql+asyncpg://postgres:Q6L0N2H0LQS5016SQL5888@localhost:5432/group_project_sample

# === Auth === #
PRIVATE_KEY = # Private key

# === API === #

# Gemini
API_KEYS_GEMINI = # Google AI Studio (Supports multiple keys, each key is separated by a comma)

# Cloudflare
CLOUDFLARE_ACCOUNT_ID = # Cloudflare
CLOUDFLARE_API_TOKEN = # Cloudflare

# ----- TECHNICAL CONFIGURATIONS ----- #

# === Auth === #
JWT_ALGORITHM = HS256
TOKEN_EXPIRY_HOURS = 72

# === Models === #
MODEL_IN_USE_EMBED = CLOUDFLARE 
MODEL_IN_USE_CAPTION_IMAGE = CLOUDFLARE
MODEL_IN_USE_GENERATE_CHAT = GOOGLE
MODEL_IN_USE_REWRITE_PROMPT = GOOGLE
MODEL_IN_USE_GENERATE_MATERIAL = GOOGLE
MODEL_IN_USE_GRADE_ANSWERS = GOOGLE
MODEL_IN_USE_GENERATE_DOCUMENT_ANALYSIS = GOOGLE
MODEL_IN_USE_GENERATE_STUDY_ASSESSMENT = GOOGLE
# Available options:
# GOOGLE
# OLLAMA # TEMPORARILY UNAVAILABLE!!!
# CLOUDFLARE

# ** Google ** #
EMBED_MODEL_GOOGLE = gemini-embedding-2
VISION_MODEL_GOOGLE = gemini-3.1-flash-lite
ANSWER_MODEL_GOOGLE = gemini-3.1-flash-lite

# ** Ollama ** #
OLLAMA_HOST = http://ollama:11434
EMBED_MODEL_OLLAMA = nomic-embed-text
VISION_MODEL_OLLAMA = llama3.2-vision
ANSWER_MODEL_OLLAMA = llama3.1

# ** Cloudflare ** #
EMBED_MODEL_CLOUDFLARE = @cf/baai/bge-m3
VISION_MODEL_CLOUDFLARE = @cf/meta/llama-3.2-11b-vision-instruct

# ** Github Model ** # 
# ANSWER_MODEL_GITHUB = gpt-4o-mini

# === RAG === #
DEFAULT_CHUNK_SIZE = 500
DEFAULT_CHUNK_OVERLAP = 50
DEFAULT_EMBED_DIMENSIONALITY_GOOGLE_OLLAMA = 768
DEFAULT_EMBED_DIMENSIONALITY_CLOUDFLARE = 1024
DEFAULT_N_CHUNKS_RETRIEVED = 5
DEFAULT_N_PAST_CONVERSATIONS = 3
DEFAULT_N_CHUNKS_WINDOW = 1
DEFAULT_N_API_CALL_RETRIES = 3

# === Application Related === #

# ** Study Activity ** #
DEFAULT_EXERCISE_TOTAL_SCORE = 100
DEFAULT_N_GENERATION_RETRIES = 3

# ** Study Assessment ** #
DEFAULT_N_DOCUMENTS_FETCHED = 50
DEFAULT_N_LLM_RESPONSES_FETCHED = 50
DEFAULT_N_STUDY_ACTIVITIES_FETCHED = 30